<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="invoiceQueue" value="InvoiceTransactionQueue"/>
		<add key="paymentQueue" value="PaymentInstallmentQueue"/>
	</appSettings>
	<connectionStrings>
		<add name="connectionstring" connectionString="Server=72.55.189.251;Database=JHU_PortalDatabase;User ID=eduteam;Password=edu$123team;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true"/>
	</connectionStrings>
</configuration>